<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <p>This site was created by Deep singh. 
            This use data from mapbox.com and darksky.net
             </p>
        <img src="./img/sarwpali.jpg">.net

        {{>footer}}
    </body>
</html>